## This is a simple example of a Machine Learning program

In [1]:
import pandas as pd

## Read in the data file

In [9]:
df = pd.read_csv(r'C:\Users\emack\Documents\Sandbox\melb_data.csv')

## Print out the first 5 rows to get a quick look at the data format

In [10]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Initial thougts about building the model 
From above it looks like we have a price column that will be a useful target for our prediction. Also the features that might be interesting to model are: number of rooms as shown in the 'Rooms' Column and 'Suburb'. Also the 'Week' column indicating number of weeks on the market might be a useful feature. There is no data manual indicating what the Distance and Distance2 columns are but I would guess they are related to schools? Not sure so I don't think i will use them in building my model at this time.

# Get a count of rows and columns

In [32]:
shape = df.shape
print('The number of rows is ', shape[0], 'and the number of columns is ', shape[1])

The number of rows is  13580 and the number of columns is  21

In [68]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

## Check for NaN's

In [23]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

#### It looks like Car, BuildingArea, YearBuilt and CouncilArea are string data types which pPandas reads as NaN's so I will figure out if any of those columns would be helpful to convert to float for using in my model. At first glance I think the bBuildingArea column would be worth using in my model so I will convert it.

# Select my Prediction Target
### By convention the prediction target is called y. Since I already decided I want the price of the houses to be the prediction target I will make that my 'y'

In [22]:
y = df['Price']

# Now let's select my features for building the prediction model.
### By convention, this data is called X and pass a list of dataframe columns to X

In [74]:
model_features = ['Landsize', 'Bathroom', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude']
X = df[model_features]

# Let's get a quick look at some summary statistics on the features for my new model

In [76]:
X.describe()

,Landsize,Bathroom,BuildingArea,YearBuilt,Lattitude,Longtitude
count,13580.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000
mean,558.416127,1.534242,151.967650,1964.684217,-37.809203,144.995216
std,3990.669241,0.691712,541.014538,37.273762,0.079260,0.103916
min,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810
25%,177.000000,1.000000,93.000000,1940.000000,-37.856822,144.929600
50%,440.000000,1.000000,126.000000,1970.000000,-37.802355,145.000100
75%,651.000000,2.000000,174.000000,1999.000000,-37.756400,145.058305
max,433014.000000,8.000000,44515.000000,2018.000000,-37.408530,145.526350

In [65]:
type(X)

type